@font-face {
  font-family: "tellsis";
  src: url("//kairi003.github.io/tellsis-translator/fonts/tellsis.woff2") format("woff2"),
       url("//kairi003.github.io/tellsis-translator/fonts/tellsis.woff") format("woff");
}

html {
  background-color: rgb(240,240,240);
}

body {
  font-family: 'Noto Serif JP', serif;
  max-width: 50rem;
  margin: auto;
  background-color: rgb(250,250,250);
  padding: 1rem;
}

textarea {
  resize: vertical;
  font-family: 'Noto Serif JP', serif;
  width: 100%;
  height: 10em;
}

textarea.translate {
  font-size: 1.5rem;
  height: 10em;
}

textarea.proper-noun {
  font-size: 1rem;
}

.tellsis {
  font-family: 'tellsis', 'Noto Serif JP', serif;
}